@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --main-color: rgb(34, 181, 115);
  --title-font: 'Maven Pro', sans-serif;
  --basic-font: 'Roboto', sans-serif;
}

* h1, h2, h3, h4, h5{
  font-family: 'Maven Pro', sans-serif;
}

* p {
  font-family: var(--basic-font);
}
body{
  background-color: black;
  color: white;
}
body {
  font-size: 1rem;
}
/* ~~~~~~~~~~~~~~~  Navigation  ~~~~~~~~~~~~~~~ */
nav{
  height: 3rem;
  display: flex;
  justify-content: space-around;
  background-color: rgb(34, 181, 115);
  position: sticky; 
  top: 0;
  font-weight: 900;
}

.navLink{
  text-decoration: none;
  align-self: center;
  font-size: 1rem;
  color: Black;
  background-color: var(--main-color);
  border-radius: 10rem;
  padding: 0 1rem;
  transition: 500ms;
}
.navLink:hover{
  background-color: white;
  color: rgb(34, 181, 115);
}
/* ~~~~~~~~~~~~~~~  Footer  ~~~~~~~~~~~~~~~ */
  .footer {
    text-align: center;
    background-color:var(--main-color);
  }



  .footer h3, p {
    margin: 0;
  }

  .footer .iconArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .iconArea .contact {
    grid-column: span 2;
  }
  .footer .iconArea img {
    max-width: 30%;
    max-height: 30%;
    margin: 0;
    padding: 0;
  }

  .footer .iconArea .linkedin img{
    max-width: 40%;
    max-height: 40%;
  }

  


/* ~~~~~~~~~~~~~~~  Homepage  ~~~~~~~~~~~~~~~ */

.homepage {
  text-align: center;
  margin: 2rem;
}

.homepage h1 {
  font-size: 1.25rem;
  font-weight: bolder;
  margin-top: 1rem;
  margin-bottom: 1.25rem;
}
.homepage h2, h1{
  color: var(--main-color);
  font-weight: 900;
  text-align: center;
}
.homepage h3{
  color: var(--main-color);
  font-weight: 900;
  text-align: center;
}
.headshot img {
  max-width: 100%;
  max-height: 100%;
}
.headshot {
  display: flex;
  justify-content: center;
  align-content: center;
}

.homepage .intro{

  align-items: center;
  display: flex;
  grid-gap: 1rem;
}
.intro h3{
  margin: 0;
  font-size: 1rem;
}
.intro p{
  font-size: .70rem;
  text-align: center;
}

.bio {
  padding-right: 3rem;
  padding-left: 3rem;
}
.contact {
  margin-top: 1rem
}

.bio p{
  font-size: .75rem;
}
.homepage .iconArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--main-color);
  margin: .5rem;
  border-radius: 3rem;
  align-items: center;
}

.iconArea img {
  max-width: 50%;
}

.iconArea .linkedin img{
  max-width: 80%;
  max-height: 80%;
}

.recontact {

}
