*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0; 
    margin: 0; 
}
  
img, picture, svg, video {
    display: block; 
    max-width: 100%;
}
  
body {
    min-height: 100vh;
}

/////////////////
/// VARIABLES ///
/////////////////

$maincolor: #222;
$contrastcolor: #ffffff;
$lightGrey: #555;
$darkpurple: #3e1694;

// -------------------//
//        Main        //
// -------------------//

@mixin white-text-black-bg {
    color: $contrastcolor;
    background-color: $maincolor;
}

@mixin height-width-profile-circle {
    height: 250px;
    width: 250px;
}

@mixin box-shadow {
    box-shadow:
    0.6px 1.2px 2.2px rgba(0, 0, 0, 0.087),
    1.4px 2.9px 5.3px rgba(0, 0, 0, 0.115),
    2.6px 5.4px 10px rgba(0, 0, 0, 0.128),
    4.7px 9.6px 17.9px rgba(0, 0, 0, 0.134),
    8.8px 18px 33.4px rgba(0, 0, 0, 0.134),
    21px 43px 80px rgba(0, 0, 0, 0.13)
    ;
}

@mixin card-size{
    width: 350px;
    height: 400px;
}

@mixin card-border-radius {
    border-radius: 8px
}



//######################################################
//####################  HEADER CSS  #################### 
//###################################################### 

header {

    height: 25rem;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .header-img {
        position: absolute;
        z-index: -3;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-repeat: repeat;
        filter: brightness(70%);
        -webkit-filter: brightness(70%);
    }

    .nav {
        // @include white-text-black-bg();
        display: flex;
        position: absolute;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        padding: 1.5rem;

        h1, p {
            color: $contrastcolor;
            font-size: 6rem;
            text-align: center;
        }
    }

    .profile-image-circle {
        background-color: $contrastcolor;
        @include height-width-profile-circle();
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -110px;
        

        .profile-img {
            border-radius: 50%;
            height: 80%;
        }

        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            background-color: transparent;
            bottom: 40%;
            left: -46px;
            height: 50px;
            width: 50px;
            border-radius: 0 0 800px 0;
            box-shadow: 10px 10px #fff;
            transform: rotate(-5deg);
            
        }

        &::after {
            content: '';
            z-index: -1;
            position: absolute;
            background-color: transparent;
            bottom: 40%;
            right: -46px;
            height: 50px;
            width: 50px;
            border-radius: 0 0 800px 0;
            box-shadow: 10px 15px #fff;
            transform: scaleX(-1) rotate(-5deg);
        }
    }
}







//######################################################
//######################   MAIN  ####################### 
//###################################################### 
.container {
    position: relative;
    min-height: 100%;
}

//######################################################
//######################  ABOUT  ####################### 
//###################################################### 

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    margin: 8rem 0 4rem 0;
    font-weight: 600;
    color: $darkpurple;

    p{
        width: 50%;
        text-align: center;
        margin-bottom: 1rem;
        
    }

}

//######################################################
//####################### SKILLS ####################### 
//###################################################### 

.skills {
    background-color: $darkpurple;
    color: $contrastcolor;
    font-weight: lighter;

    h2 {
        font-size: 3rem;
        padding: 2rem 0 0 0;
    }

    .skill-container{
        display: grid;
        gap: .5rem;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        row-gap: 1rem;
        padding: 2rem 0 5rem 0;

        .UI-list, .Frontend-list, .Interests-list{
            display: grid;
            justify-content: center;
            align-items: center;

            .List-img{
                display: grid;
                justify-content: center;
                justify-items: center;
                align-content: end;
                grid-template-columns: 1fr;
                font-weight: 400;
                
                img {
                    max-width: 7rem;
                }
            }
        }
    }

    .UI-section h3:nth-child(1), 
    .Frontend-section h3:nth-child(1) , 
    .other-section h3:nth-child(1){
        font-size: 2rem; 
        font-weight: bold;
        text-decoration: underline;
        margin-bottom: .5rem;
    }
    
    h3{
        margin-top: 10px;
    }
}





//######################################################
//####################  PROJECT CSS #################### 
//###################################################### 

.project {
    text-align: center;

    h2 {
        color: $darkpurple;
        font-size: 3rem;
        padding: 2rem 0 0 0;
    }
   
    .project-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;  
        width: 100%;
        margin: 5rem auto;

        .card-container {
            padding: 0 0 2rem 0;
        }
    }

    .project-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        padding: 2rem 0 5rem 0;
        width: 80%;

        h3{
            color: $darkpurple;
            font-size: 2rem;
            font-weight: 400;
        }

        img{
            width: 400px;
            height: 308px;
            border-radius: 10px;
            object-fit: cover;
        }

        .langUsed, .projectDetails{
            text-align: left;
            padding: 10px 0;
            width: 90%;
        }
    
    }
}

.card {
	@include card-size;
	perspective: 800px;
    display: grid;
    grid-area: main;
    margin: 2rem 0;

    ul{
        text-align: start;
        li{
            margin-bottom: .5rem;
        }
    }

    &__inner {
        position: relative;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 0.5s;
    }

    &:hover .card__inner {
        transform: rotateY(180deg);
    }

    &__body {
        position: absolute;
        inset: 0;
        display: grid;
        place-items: center;
        backface-visibility: hidden;
        @include card-border-radius;
        box-shadow: 0 5px 10px 
            rgba(0, 0, 0, 0.15);
    }
    
    &__body--front img{
        position: relative;
        @include card-size;
        object-fit: cover;
        @include card-border-radius;
    }
    
    &__body--front h2 {
        position: absolute;
        top: 40%;
        left: 25%;
        color: white;
    }

    &__body--back {
        
        background: rgb(34,34,34);
        background: linear-gradient(306deg, rgba(34,34,34,1) 0%, rgba(62,22,148,1) 100%);
        transform: rotateY(180deg);
        color: white;
    }
    
    &__title {
        padding: 10px;
        .projectDetails {
            padding-bottom: 2rem;
        }
    }

    .project-buttons {
        display: flex;
        flex-direction: row;
        margin: 20px 0;
        justify-content: center;

        a {
            margin: 0 10px 0 0;
            button {
                padding: 5px 15px;
                border: 2px solid $contrastcolor;
                border-radius: 50px;
                color: $contrastcolor;
                font-weight: bold;
                background-color: transparent;

                &:hover{
                    background-color: $contrastcolor;
                    color: $maincolor;
                    cursor: pointer;
                }
            }
        }
    }
}

.experience {
    text-align: center;
    background-color: $darkpurple;
    color: $contrastcolor;
    font-weight: lighter;

    h2 {
        font-size: 3rem;
        padding: 2rem 0 0 0;
    }

    ul{
        list-style-type: none;
    }
    .card__body--front{
        background-color: $contrastcolor;
        color: $darkpurple;
    }
    .card__body--back{
        border: 1px solid white;
    }
    .experience-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;  
        width: 100%;
        margin: 5rem auto;

        .card-container {
            padding: 0 0 2rem 0;
        }
    }

    .experience-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        padding: 2rem 0 5rem 0;
        width: 80%;

        h3{
            color: $darkpurple;
            font-size: 2rem;
            font-weight: 400;
        }

        img{
            width: 400px;
            height: 308px;
            border-radius: 10px;
            object-fit: cover;
        }

        .experienceDetails{
            text-align: left;
            padding: 10px 0;
            width: 90%;
        }
    
    }
}


// Scroll CSS that allows for navbar change 
.scroll-down {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    height: 10rem !important;
    background: $maincolor;
    transition: 0.25s linear;
    z-index: 100;
    align-items: center;
    flex-wrap: wrap;
   
   section{
    width: 100%;
    display: flex;
    flex-direction: row;
    
    .whoIAm, .myname {
        font-size: 1.5rem;
        width: 50%;
        padding-bottom: 1rem;
    }
   } 

    .toggleHidden {
        position: relative;
        opacity: 1;
        display: flex;
        padding: 10px 20px;
        text-decoration: none;
        color: white;

        &:hover {
            background-color: white;
            color: $darkpurple;
            border-radius: 50px;
        }
    }
}

.toggleHidden {
    position: absolute;
    opacity: 0;
}




//######################################################
//######################  FOOTER  ###################### 
//###################################################### 

footer {
    color: $darkpurple;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
        
    .footer-container {
        position: relative;
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h3 {
            font-size: 2rem;
            padding-bottom: .5rem;
        }

        //######################################################
        //################ HIRE ME SECTION  ####################
        //###################################################### 
        .HireMePlz{
            p, a{
                font-size: 1.3rem;
                padding: 5px 0;
            }
            a{
                color: $darkpurple !important;
                &:hover {
                    color: #F46036;
                }
            }
        }

        //######################################################
        //################## VERTICLE LINE  ####################
        //###################################################### 
        .verticle-line{
            background-color: $darkpurple !important;
            width: 300px;
            height: 2px;
            border-radius: 100px;
        }

        //######################################################
        //###################  MESSAGE ME  #####################
        //###################################################### 
        .form{
            
            input, textarea {
                width: 20rem;
                border-radius: 6px;
                border: none;
                padding: 10px;
                margin: 5px 0px;
                background-color: $darkpurple;
                color: $contrastcolor !important;
                @include box-shadow();
            }
            input::placeholder, textarea::placeholder {
                color: $contrastcolor;
            }
            input {
                height: 30px;  
            }

            textarea{
                height: 60px;
            }

            button {
                border-radius: 50px;
                border: 2px solid $contrastcolor;
                background-color: $darkpurple;
                padding: 10px 30px;
                color: $contrastcolor;
                &:hover {
                    cursor: pointer;
                    border: 2px solid $darkpurple;
                    background-color: $contrastcolor !important;
                    color: $darkpurple !important;
                }
            }
        }
    }
}










//######################################################
//###################  MEDIA QUERY  ####################
//###################################################### 

@media (min-width: 10em) {

    .scroll-down {
        height: 12rem !important;
    }

    .App {
        min-height: 100%;
    }

    header {
        nav {
            .myname{
                font-size: 4rem;
                text-align: center;
            }
            .whoIAm{
                font-size: 2rem;
                text-align: center;
                font-weight: lighter;
            }
        }
    }

    .about {
        animation-delay: 300ms;
        p{
            width: 80%;
        }
    }

    .skills {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        align-items: start;

        .UI-section, .Frontend-section, .other-section {
            // text-align: center;
            margin: 2rem auto;
            justify-content: center ;
        }
        
        p{
            margin-top: .5rem;
            margin-bottom: 1rem;
        }
    }

}


@media (min-width: 40em) {
    header {
        nav {
            .myname{
                font-size: 6rem;
                top: 20%;
                width: 100%;
                margin: auto;
            }
        }
    }

    .project {
        .project-container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;    
            width: 100%;
            margin: 5rem auto;
        }
    }
    .experience {
        .experience-container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;    
            width: 100%;
            margin: 5rem auto;
        }
    }

    .skills{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 60em) {

    .about {
        p{
            text-align: center;
            font-size: 1.25rem;
        }
    }

    .project {
        .project-container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            align-items: start;
            width: 100%;
            margin: 2rem auto;

            .card-container{
                padding-bottom: 6rem;
            }

            .langUsed{
                height: 60px;
            }
        }
    }
    .experience {
        .experience-container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            align-items: start;
            width: 100%;
            margin: 2rem auto;

            .card-container{
                padding-bottom: 6rem;
            }

            .langUsed{
                height: 60px;
            }
        }
    }

    .skills {
        .skill-container{
            grid-template-columns: repeat(3, 1fr);

            .UI-list, .Frontend-list, .Interests-list{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-content: center;
                align-items: center;
                padding: 10px 0;
                column-gap: 1rem;

                .List-img{
                    display: grid;
                    justify-content: center;
                    justify-items: center;
                    align-content: end;
                }
            }
        }
    }

    footer{
        height: 25rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .footer-container {
            position: relative;
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            h3 {
                font-size: 2rem;
                padding-bottom: .5rem;
            }

            //######################################################
            //################ HIRE ME SECTION  ####################
            //###################################################### 
            .HireMePlz{
                p, a{
                    font-size: 1.3rem;
                    padding: 5px 10px 5px 0;
                }
                a{
                    color: $contrastcolor;
                    &:hover {
                        color: #F46036;
                    }
                }
            }

            //######################################################
            //################## VERTICLE LINE  ####################
            //###################################################### 
            .verticle-line{
                background-color: white;
                width: 2px;
                height: 200px;
                border-radius: 100px;
            }

            //######################################################
            //###################  MESSAGE ME  #####################
            //###################################################### 
            .form{

                input, textarea {
                    width: 25rem;
                    border-radius: 6px;
                    border: none;
                    padding: 10px;
                    margin: 5px 0px;
                    color: $darkpurple;
                    @include box-shadow();
                }

                input {
                    height: 30px;  
                }

                textarea{
                    height: 60px;
                }

                button {
                    border-radius: 50px;
                    padding: 10px 30px;
                    &:hover {
                        cursor: pointer;
                        border: 2px solid $contrastcolor;
                        background-color: transparent;
                        color: $contrastcolor;
                    }
                }
                .person_name, .person_email, .person_message{
                    
                }
            }
        }
    }
}

@media (min-width: 80em) {
    .project {
        grid-template-columns: repeat(3, 1fr);
    }
}