*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0; 
    margin: 0; 
}
  
img, picture, svg, video {
    display: block; 
    max-width: 100%;
}
  
body {
    min-height: 100vh;
}

/////////////////
/// VARIABLES ///
/////////////////

$maincolor: #222;
$contrastcolor: rgb(244, 244, 244);
$lightGrey: #555;

// -------------------//
//        Main        //
// -------------------//

@mixin white-text-black-bg {
    color: $contrastcolor;
    background-color: $maincolor;
}

@mixin height-width-profile-circle {
    height: 250px;
    width: 250px;
}


//######################################################
//####################  HEADER CSS  #################### 
//###################################################### 

header {
    // background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F64.media.tumblr.com%2Fa39911173ad8fd36f451961c23f504b9%2Ftumblr_of1p3313Al1rldv4go1_1280.gif&f=1&nofb=1&ipt=0bee84832b687b114a5f8b5ee78be70e11c5e37c102491eca4779bafc28e9239&ipo=images");
    height: 300px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .header-img {
        position: absolute;
        z-index: -3;
        width: 100%;
        height: 300px;
        object-fit: cover;
        background-repeat: repeat;
    }

    .nav {
        // @include white-text-black-bg();
        display: flex;
        position: absolute;
        flex-direction: row;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 1.5rem;
        
        a {
            // @include white-text-black-bg();
            position: relative;
            color: $contrastcolor;
            text-decoration: none;
            padding: 0 10px;
            left: 0;
            font-weight: 700;
        }
    }

    .profile-image-circle {
        background-color: white;
        @include height-width-profile-circle();
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -110px;
        

        .profile-img {
            border-radius: 50%;
            height: 80%;
        }

        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            background-color: transparent;
            bottom: 40%;
            left: -47px;
            height: 50px;
            width: 50px;
            border-radius: 0 0 800px 0;
            box-shadow: 10px 10px #fff;
            transform: rotate(-5deg);
            
        }

        &::after {
            content: '';
            z-index: -1;
            position: absolute;
            background-color: transparent;
            bottom: 40%;
            right: -46px;
            height: 50px;
            width: 50px;
            border-radius: 0 0 800px 0;
            box-shadow: 10px 15px #fff;
            transform: scaleX(-1) rotate(-5deg);
        }
    }
}


h1 {
    margin: 2rem;
}

footer {
    position: absolute;
    bottom: 0;
}

.App {
    position: relative;
    min-height: 100vh;
}

//######################################################
//####################  PROJECT CSS #################### 
//###################################################### 

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 33.33333333%;
    margin-top: 5rem;
    gap: 20px;
    

    .project-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    
        // &:nth-child(1){
        //     margin-top: 5rem;
        // }
        
        img{
            width: 100%;
        }
    
        .project-buttons {
            display: flex;
            flex-direction: row;
        }
    }
}
